body {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.form {
  padding: 10px;
  height: 70%;
  width: 30%;
  background-color: white;
  border-radius: 15px;
}
.head {
  margin-top: 10px;
  padding-left: 10px;
  color: blue;
}
.label {
  color: black;
  margin-top: 5px;
}
.input_text {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f5fa;
}
.radio_button {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: blue;
  /* background-color: blue; */
  border: 3px solid rgb(29, 119, 209);
}
.button {
  width: 50%;
  height: 30%;
  background-color: blue;
  color: white;
  border-radius: 50px;
}
