body {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.form {
  height: 50%;
  width: 50%;
  background-color: white;
  border-radius: 5px;
}
.head {
  margin-top: 20px;
  padding-left: 10px;
  color: blue;
}
.label {
  padding-left: 10px;
  color: black;
  margin-top: 5px;
}
.input_text {
  margin-top: 1rem;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 25px;
  border-radius: 5px;
  background-color: #f2f5fa;
}
.radio_button {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: blue;
  /* background-color: blue; */
  border: 3px solid rgb(29, 119, 209);
}
.button {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: blue;
  color: white;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
}
